In [37]:
import pandas as pd
import numpy as np

In [38]:
data = pd.read_csv('state_action_recopilation.csv',sep=',')

data.head()

,State,Action
0,[[[[1. ]\n [1. ]\n [1. ...,[[0.16156216 0.1718296 0.277353 0.15543011 ...
1,[[[[1. ]\n [1. ]\n [1. ...,[[0.06870089 0.10743111 0.60890466 0.1358273 ...
2,[[[[1. ]\n [1. ]\n [1. ...,[[0.30272743 0.22010283 0.11606488 0.14536794 ...
3,[[[[1. ]\n [1. ]\n [1. ...,[[0.3973439 0.06948966 0.15375659 0.04240716 ...
4,[[[[1. ]\n [1. ]\n [1. ...,[[0.14738251 0.21148583 0.06130568 0.09160802 ...

In [39]:
# From data column State eliminate all \n
data['State'] = data['State'].str.replace('\n','')

data.head()

,State,Action
0,[[[[1. ] [1. ] [1. ]]...,[[0.16156216 0.1718296 0.277353 0.15543011 ...
1,[[[[1. ] [1. ] [1. ]]...,[[0.06870089 0.10743111 0.60890466 0.1358273 ...
2,[[[[1. ] [1. ] [1. ]]...,[[0.30272743 0.22010283 0.11606488 0.14536794 ...
3,[[[[1. ] [1. ] [1. ]]...,[[0.3973439 0.06948966 0.15375659 0.04240716 ...
4,[[[[1. ] [1. ] [1. ]]...,[[0.14738251 0.21148583 0.06130568 0.09160802 ...

In [40]:
# Clean the State column
data['State'] = data['State'].str.replace('[[[[','[')
data['State'] = data['State'].str.replace(']]]]',']')

data['Action'] = data['Action'].str.replace('[[','')
data['Action'] = data['Action'].str.replace(']]','')

data['State'] = data['State'].str.replace('[[','[')
data['State'] = data['State'].str.replace(']]',']')

data['State'] = data['State'].str.replace(']   [',' ')

data['State'] = data['State'].str.replace(']  [',' ],[')

data.head()

,State,Action
0,"[1. 1. 1. ],[0.9432740...",0.16156216 0.1718296 0.277353 0.15543011 0....
1,"[1. 1. 1. ],[0.9516491...",0.06870089 0.10743111 0.60890466 0.1358273 0....
2,"[1. 1. 1. ],[0.9480227...",0.30272743 0.22010283 0.11606488 0.14536794 0....
3,"[1. 1. 1. ],[0.9222932...",0.3973439 0.06948966 0.15375659 0.04240716 0....
4,"[1. 1. 1. ],[0.9151269...",0.14738251 0.21148583 0.06130568 0.09160802 0....

In [41]:
# Divide the state column in 6 columns by the comma
data[['State1','State2','State3','State4','State5','State6']] = data['State'].str.split(',',expand=True)
data.drop('State',axis=1,inplace=True)
data.head()

,Action,State1,State2,State3,State4,State5,State6
0,0.16156216 0.1718296 0.277353 0.15543011 0....,[1. 1. 1. ],[0.94327405 0.95164911 0.94802279 ],[0.69082079 0.68567266 0.67984458 ],[1.15727138 1.14759139 1.1340394 ],[0.76204067 0.75561898 0.73849447 ],[0.83311971 0.83555499 0.81889259]
1,0.06870089 0.10743111 0.60890466 0.1358273 0....,[1. 1. 1. ],[0.95164911 0.94802279 0.92229321 ],[0.68567266 0.67984458 0.68275862 ],[1.14759139 1.1340394 1.09679991 ],[0.75561898 0.73849447 0.74669996 ],[0.83555499 0.81889259 0.81107408]
2,0.30272743 0.22010283 0.11606488 0.14536794 0....,[1. 1. 1. ],[0.94802279 0.92229321 0.91512692 ],[0.67984458 0.68275862 0.69674599 ],[1.1340394 1.09679991 1.10340508 ],[0.73849447 0.74669996 0.73742419 ],[0.81889259 0.81107408 0.81697001]
3,0.3973439 0.06948966 0.15375659 0.04240716 0....,[1. 1. 1. ],[0.92229321 0.91512692 0.93869798 ],[0.68275862 0.69674599 0.69441476 ],[1.09679991 1.10340508 1.13927799 ],[0.74669996 0.73742419 0.7427756 ],[0.81107408 0.81697001 0.8229941 ]
4,0.14738251 0.21148583 0.06130568 0.09160802 0....,[1. 1. 1. ],[0.91512692 0.93869798 0.94586427 ],[0.69674599 0.69441476 0.69490044 ],[1.10340508 1.13927799 1.17628972 ],[0.73742419 0.7427756 0.7816625 ],[0.81697001 0.8229941 0.824404 ]

In [42]:
data['Action'] = data['Action'].str.replace(' ',',')
data['Action'] = data['Action'].str.replace(',,,',',')
data['Action'] = data['Action'].str.replace(',,',',')

# Delete the last comma
data['Action'] = data['Action'].str[:-1]

In [43]:

data['Action'][1]

'0.06870089,0.10743111,0.60890466,0.1358273,0.02387627,0.0552597'

In [44]:
data.head()

,Action,State1,State2,State3,State4,State5,State6
0,"0.16156216,0.1718296,0.277353,0.15543011,0.106...",[1. 1. 1. ],[0.94327405 0.95164911 0.94802279 ],[0.69082079 0.68567266 0.67984458 ],[1.15727138 1.14759139 1.1340394 ],[0.76204067 0.75561898 0.73849447 ],[0.83311971 0.83555499 0.81889259]
1,"0.06870089,0.10743111,0.60890466,0.1358273,0.0...",[1. 1. 1. ],[0.95164911 0.94802279 0.92229321 ],[0.68567266 0.67984458 0.68275862 ],[1.14759139 1.1340394 1.09679991 ],[0.75561898 0.73849447 0.74669996 ],[0.83555499 0.81889259 0.81107408]
2,"0.30272743,0.22010283,0.11606488,0.14536794,0....",[1. 1. 1. ],[0.94802279 0.92229321 0.91512692 ],[0.67984458 0.68275862 0.69674599 ],[1.1340394 1.09679991 1.10340508 ],[0.73849447 0.74669996 0.73742419 ],[0.81889259 0.81107408 0.81697001]
3,"0.3973439,0.06948966,0.15375659,0.04240716,0.1...",[1. 1. 1. ],[0.92229321 0.91512692 0.93869798 ],[0.68275862 0.69674599 0.69441476 ],[1.09679991 1.10340508 1.13927799 ],[0.74669996 0.73742419 0.7427756 ],[0.81107408 0.81697001 0.8229941 ]
4,"0.14738251,0.21148583,0.06130568,0.09160802,0....",[1. 1. 1. ],[0.91512692 0.93869798 0.94586427 ],[0.69674599 0.69441476 0.69490044 ],[1.10340508 1.13927799 1.17628972 ],[0.73742419 0.7427756 0.7816625 ],[0.81697001 0.8229941 0.824404 ]

In [45]:

# Divide the action column in 6 columns by the space
data[['Action1','Action2','Action3','Action4','Action5','Action6']] = data['Action'].str.split(',',expand=True)
print(data['Action'].str.split(',',expand=True).shape[1])

data.drop('Action',axis=1,inplace=True)
# data.drop('Action7',axis=1,inplace=True)
data.head()

6

,State1,State2,State3,State4,State5,State6,Action1,Action2,Action3,Action4,Action5,Action6
0,[1. 1. 1. ],[0.94327405 0.95164911 0.94802279 ],[0.69082079 0.68567266 0.67984458 ],[1.15727138 1.14759139 1.1340394 ],[0.76204067 0.75561898 0.73849447 ],[0.83311971 0.83555499 0.81889259],0.16156216,0.1718296,0.277353,0.15543011,0.10646321,0.1273619
1,[1. 1. 1. ],[0.95164911 0.94802279 0.92229321 ],[0.68567266 0.67984458 0.68275862 ],[1.14759139 1.1340394 1.09679991 ],[0.75561898 0.73849447 0.74669996 ],[0.83555499 0.81889259 0.81107408],0.06870089,0.10743111,0.60890466,0.1358273,0.02387627,0.0552597
2,[1. 1. 1. ],[0.94802279 0.92229321 0.91512692 ],[0.67984458 0.68275862 0.69674599 ],[1.1340394 1.09679991 1.10340508 ],[0.73849447 0.74669996 0.73742419 ],[0.81889259 0.81107408 0.81697001],0.30272743,0.22010283,0.11606488,0.14536794,0.03913353,0.1766034
3,[1. 1. 1. ],[0.92229321 0.91512692 0.93869798 ],[0.68275862 0.69674599 0.69441476 ],[1.09679991 1.10340508 1.13927799 ],[0.74669996 0.73742419 0.7427756 ],[0.81107408 0.81697001 0.8229941 ],0.3973439,0.06948966,0.15375659,0.04240716,0.11848463,0.2185181
4,[1. 1. 1. ],[0.91512692 0.93869798 0.94586427 ],[0.69674599 0.69441476 0.69490044 ],[1.10340508 1.13927799 1.17628972 ],[0.73742419 0.7427756 0.7816625 ],[0.81697001 0.8229941 0.824404 ],0.14738251,0.21148583,0.06130568,0.09160802,0.29695398,0.1912638

In [46]:
# Clean each state column
for i in range(1,7):
    data['State'+str(i)] = data['State'+str(i)].str.replace('[','')
    data['State'+str(i)] = data['State'+str(i)].str.replace(']','')
    data['State'+str(i)] = data['State'+str(i)].str.replace('   ',' ')
    data['State'+str(i)] = data['State'+str(i)].str.replace('  ',' ')
    data['State'+str(i)] = data['State'+str(i)].str.replace('  ',' ')
    data['State'+str(i)] = data['State'+str(i)].str.replace(' ',',')
    data['State'+str(i)] = data['State'+str(i)].str.replace('\n','')
    # delete the last comma
    data['State'+str(i)] = data['State'+str(i)].str[:-1]
    data[['State'+str(i)+'.1','State'+str(i)+'.2','State'+str(i)+'.3']] = data['State'+str(i)].str.split(',',expand=True)
    data.drop('State'+str(i),axis=1,inplace=True)

data

,Action1,Action2,Action3,Action4,Action5,Action6,State1.1,State1.2,State1.3,State2.1,...,State3.3,State4.1,State4.2,State4.3,State5.1,State5.2,State5.3,State6.1,State6.2,State6.3
0,0.16156216,0.1718296,0.277353,0.15543011,0.10646321,0.1273619,1.,1.,1.,0.94327405,...,0.67984458,1.15727138,1.14759139,1.1340394,0.76204067,0.75561898,0.73849447,0.83311971,0.83555499,0.8188925
1,0.06870089,0.10743111,0.60890466,0.1358273,0.02387627,0.0552597,1.,1.,1.,0.95164911,...,0.68275862,1.14759139,1.1340394,1.09679991,0.75561898,0.73849447,0.74669996,0.83555499,0.81889259,0.8110740
2,0.30272743,0.22010283,0.11606488,0.14536794,0.03913353,0.1766034,1.,1.,1.,0.94802279,...,0.69674599,1.1340394,1.09679991,1.10340508,0.73849447,0.74669996,0.73742419,0.81889259,0.81107408,0.8169700
3,0.3973439,0.06948966,0.15375659,0.04240716,0.11848463,0.2185181,1.,1.,1.,0.92229321,...,0.69441476,1.09679991,1.10340508,1.13927799,0.74669996,0.73742419,0.7427756,0.81107408,0.81697001,0.8229941
4,0.14738251,0.21148583,0.06130568,0.09160802,0.29695398,0.1912638,1.,1.,1.,0.91512692,...,0.69490044,1.10340508,1.13927799,1.17628972,0.73742419,0.7427756,0.7816625,0.81697001,0.8229941,0.824404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,0.0978908,0.27915582,0.16938849,0.04015029,0.09862785,0.3147867,1.,1.,1.,1.00129511,...,1.02739194,1.00979387,1.01275481,1.0231181,1.01462719,1.02889761,1.02533,1.00422968,1.00102538,1.0043578
490,0.02119086,0.13486058,0.09466165,0.06963388,0.37395534,0.3056976,1.,1.,1.,1.00707995,...,1.02486644,1.01275481,1.0231181,1.01639904,1.02889761,1.02533,1.01641099,1.00102538,1.00435786,1.0015380
491,0.18371621,0.18056609,0.12542987,0.09980048,0.22307195,0.1874154,1.,1.,1.,1.00975652,...,1.01719281,1.0231181,1.01639904,0.98849789,1.02533,1.01641099,1.01141634,1.00435786,1.00153807,0.9984619
492,0.12759693,0.2779875,0.17668611,0.1506408,0.1002835,0.1668051,1.,1.,1.,1.01070627,...,1.02010685,1.01639904,0.98849789,0.98838401,1.01641099,1.01141634,1.01534071,1.00153807,0.99846193,1.0016662
493,0.18936166,0.25055233,0.14657228,0.15586244,0.08600363,0.1716476,1.,1.,1.,1.00405802,...,1.01971831,0.98849789,0.98838401,0.99692518,1.01141634,1.01534071,1.01248662,0.99846193,1.00166624,1.0042296

In [47]:
data.dropna(inplace=True)

In [48]:
# Find and drop any rows with value '' in the columns
data[data.isin(['']).any(axis=1)]
data.drop(data[data.isin(['']).any(axis=1)].index,inplace=True)

In [49]:

# Convert all columns in data to float
data = data.astype(float)

In [50]:
data.head()

,Action1,Action2,Action3,Action4,Action5,Action6,State1.1,State1.2,State1.3,State2.1,...,State3.3,State4.1,State4.2,State4.3,State5.1,State5.2,State5.3,State6.1,State6.2,State6.3
0,0.161562,0.171830,0.277353,0.155430,0.106463,0.127362,1.0,1.0,1.0,0.943274,...,0.679845,1.157271,1.147591,1.134039,0.762041,0.755619,0.738494,0.833120,0.835555,0.818893
1,0.068701,0.107431,0.608905,0.135827,0.023876,0.055260,1.0,1.0,1.0,0.951649,...,0.682759,1.147591,1.134039,1.096800,0.755619,0.738494,0.746700,0.835555,0.818893,0.811074
2,0.302727,0.220103,0.116065,0.145368,0.039134,0.176603,1.0,1.0,1.0,0.948023,...,0.696746,1.134039,1.096800,1.103405,0.738494,0.746700,0.737424,0.818893,0.811074,0.816970
3,0.397344,0.069490,0.153757,0.042407,0.118485,0.218518,1.0,1.0,1.0,0.922293,...,0.694415,1.096800,1.103405,1.139278,0.746700,0.737424,0.742776,0.811074,0.816970,0.822994
4,0.147383,0.211486,0.061306,0.091608,0.296954,0.191264,1.0,1.0,1.0,0.915127,...,0.694900,1.103405,1.139278,1.176290,0.737424,0.742776,0.781663,0.816970,0.822994,0.824404

In [33]:
# # Create a column action that is an numeric array of the actions
# data['Action'] = data[['Action1','Action2','Action3','Action4','Action5','Action6']].values.tolist()
# data.drop(['Action1','Action2','Action3','Action4','Action5','Action6'],axis=1,inplace=True)

In [51]:
data.head()

,Action1,Action2,Action3,Action4,Action5,Action6,State1.1,State1.2,State1.3,State2.1,...,State3.3,State4.1,State4.2,State4.3,State5.1,State5.2,State5.3,State6.1,State6.2,State6.3
0,0.161562,0.171830,0.277353,0.155430,0.106463,0.127362,1.0,1.0,1.0,0.943274,...,0.679845,1.157271,1.147591,1.134039,0.762041,0.755619,0.738494,0.833120,0.835555,0.818893
1,0.068701,0.107431,0.608905,0.135827,0.023876,0.055260,1.0,1.0,1.0,0.951649,...,0.682759,1.147591,1.134039,1.096800,0.755619,0.738494,0.746700,0.835555,0.818893,0.811074
2,0.302727,0.220103,0.116065,0.145368,0.039134,0.176603,1.0,1.0,1.0,0.948023,...,0.696746,1.134039,1.096800,1.103405,0.738494,0.746700,0.737424,0.818893,0.811074,0.816970
3,0.397344,0.069490,0.153757,0.042407,0.118485,0.218518,1.0,1.0,1.0,0.922293,...,0.694415,1.096800,1.103405,1.139278,0.746700,0.737424,0.742776,0.811074,0.816970,0.822994
4,0.147383,0.211486,0.061306,0.091608,0.296954,0.191264,1.0,1.0,1.0,0.915127,...,0.694900,1.103405,1.139278,1.176290,0.737424,0.742776,0.781663,0.816970,0.822994,0.824404

In [52]:

# Save to a new CSV file
data.to_csv('cleaned_state_action_recopilation.csv', index=False)